/* Open Sans Light */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
       url("../fonts/web/opensanslight.woff2") format("woff2"),
       url("../fonts/web/opensanslight.woff") format("woff");
}

/* Open Sans Regular */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
       url("../fonts/web/opensans.woff2") format("woff2"),
       url("../fonts/web/opensans.woff") format("woff");
}

/* Gilroy light */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
       url("../fonts/web/gilroylight.woff2") format("woff2"),
       url("../fonts/web/gilroylight.woff") format("woff");
}

/* Gilroy ExtraBold */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
       url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/web/gilroyextrabold.woff") format("woff");
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000;
  max-width: 100%;
  overflow-x: hidden;
}

img { max-width: 100%; }

a { text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-macaroni {
  position: relative;
  z-index: 1;
}

.button-macaroni::after {
  content: "";
  background-color: #f0c52e;
  position: absolute;
  height: 8px;
  width: 100%;
  z-index: -1;
}

.header {
  margin-top: 40px;
  background-color: rgba(240, 197, 46, 0.5);
  min-height: 299px;
  padding: 43px 60px 0 60px;
  position: relative;
}

.header-inner { min-height: 186px; }

.header__logo {
  display: inline-block;
  vertical-align: top;
  margin-top: -21px;
  position: absolute;
  top: 2px;
  left: 60px;
  cursor: pointer;
}

.header__logo-picture:hover path { opacity: 0.6; }

.header__logo-picture:active path,
.header__logo-picture:focus path { opacity: 0.3; }

.header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
}

.header__form {
  margin-right: auto;
  margin-top: -9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative
}

.header__label::before {
  content: "";
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 3px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__form-search::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.3); }

.header__form-search::-moz-placeholder { color: rgba(0, 0, 0, 0.3); }

.header__form-search:-ms-input-placeholder { color: rgba(0, 0, 0, 0.3); }

.header__form-search::-ms-input-placeholder { color: rgba(0, 0, 0, 0.3); }

.header__form-search::placeholder { color: rgba(0, 0, 0, 0.3); }

.header__form-search {
  font-size: 15px;
  line-height: 30px;
  width: 356px;
  padding: 9px 0 8px 36px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.header__form-search:hover::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.6); }

.header__form-search:hover::-moz-placeholder { color: rgba(0, 0, 0, 0.6); }

.header__form-search:hover:-ms-input-placeholder { color: rgba(0, 0, 0, 0.6); }

.header__form-search:hover::-ms-input-placeholder { color: rgba(0, 0, 0, 0.6); }

.header__form-search:hover::placeholder { color: rgba(0, 0, 0, 0.6); }

.header__form-search:focus::-webkit-input-placeholder { color: rgb(0, 0, 0); }

.header__form-search:focus::-moz-placeholder { color: rgb(0, 0, 0); }

.header__form-search:focus:-ms-input-placeholder { color: rgb(0, 0, 0); }

.header__form-search:focus::-ms-input-placeholder { color: rgb(0, 0, 0); }

.header__form-search:focus::placeholder { color: rgb(0, 0, 0); }

.header__form-search:focus { border-bottom: 2px solid #000; }

.header__form-button {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  letter-spacing: 0.15px;
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid black;
  display: none;
  cursor: pointer;
}

.header__form-button:hover {
  color: #fff;
  background-color: #000;
}

.header__form-button:focus,
.header__form-button:active {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
}

.header__form-search:focus ~ .header__form-button {
  border: 2px solid #000;
  display: block;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list_login { margin-right: 218px; }

.header__list_user { margin-right: 65px; }

.header__list-item_compare { margin-right: 41px; }

.header__list-item_user { margin-right: 20px; }

.header__link {
  color: #000;
  letter-spacing: 0.15px;
}

.header__link:hover { color: rgba(0, 0, 0, 0.6); }

.header__link:focus,
.header__link:active { color: rgba(0, 0, 0, 0.3); }

.header__link:hover::before { opacity: 0.6; }

.header__link:focus::before,
.header__link:active::before { opacity: 0.3; }

.header__list-link_user {
  padding-left: 27px;
  position: relative;
}

.header__list-link_user::before {
  content: "";
  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__list-link_login {
  padding-left: 26px;
  position: relative;
}

.header__list-link_login::before {
  content: "";
  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__list-link_logout { color: rgba(0, 0, 0, 0.3); }

.header__list-link_compare {
  padding-left: 18px;
  position: relative;
}

.header__list-link_compare::before {
  content: "";
  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__list-link_basket {
  padding-left: 24px;
  position: relative;
}

.header__list-link_basket::before {
  content: "";
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 1px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item_positioning { position: relative; }

.navigation__item_positioning:hover .navigation__list_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.navigation__item_catalog { margin-right: 294px; }

.navigation__item_delivery { margin-right: 34px; }

.navigation__item_warranty { margin-right: auto; }

.navigation__list_row {
  display: none;
  width: 1160px;
  min-height: 140px;
  background-color: #fff;
  position: absolute;
  left: -60px;
}

.navigation__item_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  min-height: 160px;
  padding: 18px 0px 12px 60px;
  background-color: rgba(240, 197, 46, 0.5);
}

.navigation__list_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}

.navigation__list_col:first-child { margin-right: 40px; }

.navigation__link {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation__link:hover { color: rgba(0, 0, 0, 0.6); }

.navigation__link:active,
.navigation__link:focus { color: rgba(0, 0, 0, 0.3); }

.navigation__link_catalog {
  padding-right: 27px;
  position: relative;
}

.navigation__link_catalog::after {
  content: "";
  background-image: url("../img/icons/plus.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.3;
}

.navigation__list-link {
  color: inherit;
  letter-spacing: 0.15px;
  line-height: 36px;
}

.navigation__list-link:hover { color: rgba(0, 0, 0, 0.6); }

.navigation__list-link:active,
.navigation__list-link:focus { color: rgba(0, 0, 0, 0.3); }

.slider {
  background-color: #fff;
  padding-bottom: 97px;
  min-height: 481px;
  position: relative;
}

.slider__controls-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  position: absolute;
  top: 206px;
  right: 81px;
  z-index: 100;
}

.slider__controls-item { margin-right: 21px; }

.slider__controls-item:last-child { margin-right: 0; }

.slider__controls-button {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.slider__controls-button_active::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 4px;
  height: 4px;
  background-color: transparent;
  border: 1px solid #000;
}

.slider__list {
  list-style: none;
  counter-reset: li;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  position: relative;
}

.slider__item::before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  position: absolute;
  top: -126px;
  right: -14px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: #fff;
}

.slider__item_slim::before { right: 11px; }

.slider__item_fly::before { right: 13px; }

.slider__item_fly,
.slider__item_slim { display: none; }

.slider__image-wrapper { width: 560px; }

.slider__info {
  width: 522px;
  position: relative;
}

.selfie-info {
  margin-top : -102px;
  margin-left: -27px;
}

.slim-info {
  margin-left: -52px;
  margin-top: -102px;
}

.fly-info {
  width: 535px;
  margin-top: -102px;
  margin-left: 42px;
}

.selfie-wrapper {
  margin-top: -111px;
  margin-left: 30px;
}

.slim-wrapper {
  margin-top: -99px;
  margin-left: 56px;
}

.fly-wrapper {
  margin-top: -46px;
  margin-left: -29px;
}

.slider__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.47px;
  margin-bottom: 19px;
  margin-top: 70px;
  position: relative;
}

.slider__title::before {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  top: -42px;
  left: 0px;
}

.slider__text {
  color: #464646;
  letter-spacing: 0.15px;
  margin-bottom: 49px;
  width: 481px;
}

.slider__text_slim { width: 441px; }

.slider__text_fly { width: 451px; }

.slider__button {
  margin-bottom: 54px;
  padding: 0 42px;
}

.slider__button:focus,
.slider__button:active { color: rgba(0, 0, 0, 0.3); }

.slider__button::after {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__button:hover::after {
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.slider__button:active::after,
.slider__button:focus::after { padding: 20px 0; }

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__cell { margin-right: 76px; }

.table__cell:last-child { margin-right: 0; }

.table__cell_fly { margin-right: 60px; }

.table__heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  margin-bottom: 9px;
}

.table__info {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
  margin-right: 79px;
}

.table__info_fly { margin-right: 47px; }

.categories {
  padding-bottom: 151px;
  width: 1160px;
  margin: 0 auto;
}

.categories__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__item {
  width: 160px;
  margin-right: 40px;
}

.categories__item:last-child { margin-right: 0; }

.categories__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: rgba(240, 197, 46, 0.5);
}

.categories__item:hover .categories__image-wrapper { background-color: rgba(240, 197, 46, 1); }

.categories__item:focus .categories__image,
.categories__item:active .categories__image { opacity: 0.3; }

.categories__item:focus .categories__title,
.categories__item:active .categories__title { color: rgba(0, 0, 0, 0.3); }

.categories__image-wrapper_selfie { padding-top: 38px; }

.categories__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000;
}

.services { position: relative; }

.services::before {
  content: "";
  display: block;
  width: 100%;
  height: 288px;
  background-color: #e5e5e5;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.services__list,
.services__slider-list { list-style: none; }

.services__list {
  width: 300px;
  position: relative;
  top: 16px;
}

.services__list::after {
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000;
  position: absolute;
  top: -86px;
  right: 16px;
}

.services__item { margin-bottom: 34px; }

.services__button {
  width: 160px;
  text-align: center;
}

.services__button:hover::after {
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.services__button::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.services__button:active,
.services__button:focus { color: #f7e184; }

.services__button:active::after,
.services__button:focus::after {
  width: 278px;
  text-align: left;
  padding: 20px 0;
  background-color: #000;
}

.services__button_current {
  width: 278px;
  text-align: left;
  padding: 8px 0 8px 19px;
  background-color: #000;
  color: #f7e184;
}

.services__button_current::after { position: static; }

.services__slider-list { width: 800px; }

.services__slider-item {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 41px;
  margin-top: 3px;
  position: relative;
}

.services__slider-item_delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__slider-info_delivery { width: 426px; }

.services__slider-info_warranty { width: 436px; }

.services__slider-info_credit { width: 425px; }

.services__slider-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin-bottom: 31px;
}

.services__slider-text {
  color: #464646;
  letter-spacing: 0.15px;
}

.services__slider-image_delivery {
  width: 136px;
  height: 164px;
}

.services__wrapper_delivery {
  width: 136px;
  height: 164px;
  position: absolute;
  top: 12px;
  right: 66px;
}

.services__wrapper_warranty {
  width: 171px;
  height: 194px;
  position: absolute;
  top: -12px;
  right: 46px;
}

.services__wrapper_credit {
  width: 156px;
  height: 186px;
  position: absolute;
  top: -11px;
  right: 70px;
}

.brands {
  width: 1160px;
  margin: 214px auto 84px auto;
}

.brands__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands__item { margin-right: 40px; }

.brands__item:last-child { margin-right: 0; }

.brands__images {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.brands__item:hover .brands__images {
  opacity: 1;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 89px;
  width: 1160px;
  margin: 0 auto;
}

.information__about,
.information__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information__about { width: 480px; }

.information__about-button {
  width: 219px;
  margin-left: 23px;
}

.information__about-button:active,
.information__about-button:focus { color: rgba(0, 0, 0, 0.3); }

.information__about-button::after {
  top: 50%;
  left: -23px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 260px;
}


.information__about-button:hover::after {
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.information__about-button:active::after,
.information__about-button:focus::after { padding: 20px 0; }

.information__contacts { width: 560px; }

.information__contacts-link { width: 183px; }

.information__contacts-link:active,
.information__contacts-link:focus { color: rgba(0, 0, 0, 0.3); }

.information__contacts-link::after {
  top: 50%;
  left: -41px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
   width: 260px;
}


.information__contacts-link:hover::after {
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.information__contacts-link:active::after,
.information__contacts-link:focus::after { padding: 20px 0; }

.information__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  padding-top: 53px;
  margin-bottom: 42px;
  position: relative;
}

.information__title::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

.information__about-text {
  margin-bottom: 30px;
  width: 472px;
}

.information__about-text:last-of-type { margin-bottom: 66px; }

.information__text { color: #464646; }

.information__partnership-list {
  list-style: none;
  margin-bottom: 63px;
}

.partnership__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  padding-left: 36px;
  position: relative;
}

.partnership__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid #f7f7f7;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.information__contacts-text { margin-bottom: 39px; }

.information__contacts-picture {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 77px;
}

.information__contacts-image { background-color: #e9e9e9; }

.information__contacts-link { margin-left: 41px; }

.footer {
  background-color: #464646;
  padding-top: 60px;
  padding-bottom: 56px;
}

.footer__wrapper {
  width: 1160px;
  margin: 0 auto;
}

.footer__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.footer__top-logo {
  margin-right: auto;
  margin-top: 5px;
}

.footer__top-picture { fill: #ffc600; }

.footer__top-picture path { fill: #ffc600; }

.footer__top-picture:hover path { opacity: 0.6; }

.footer__top-picture:active path,
.footer__top-picture:focus path { opacity: 0.3; }

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list_login { margin-right: 44px; }

.footer__list_user { margin-right: 45px; }

.footer__list-item_compare { margin-right: 41px; }

.footer__list-item_user { margin-right: 20px; }

.footer__link {
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
  letter-spacing: 0.15px;
}

.footer__link:hover { color: #fff; }

.footer__link:active,
.footer__link:focus { color: rgba(255, 255, 255, 0.3); }

.footer__link:hover::before { opacity: 0.6; }

.footer__link:active::before,
.footer__link:focus::before { opacity: 0.3; }

.footer__list-link_login {
  padding-left: 27px;
  position: relative;
}

.footer__list-link_login::before {
  content: "";
  background-image: url("../img/icons/user-footer.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__list-link_user {
  padding-left: 26px;
  position: relative;
}

.footer__list-link_user::before {
  content: "";
  background-image: url("../img/icons/user-footer.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__list-link_compare {
  padding-left: 18px;
  position: relative;
}

.footer__list-link_compare::before {
  content: "";
  background-image: url("../img/icons/compare-footer.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: -2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__list-link_basket {
  padding-left: 21px;
  position: relative;
}

.footer__list-link_basket::before {
  content: "";
  background-image: url("../img/icons/cart-footer.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__list-link_logout { color: rgba(255, 255, 255, 0.3); }

.footer__middle-address { margin-right: 164px; }

.footer__text {
  color: #fff;
  margin-top: -3px;
}

.footer__middle-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 59px;
}

.footer__middle-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  margin-right: auto;
}

.footer__middle-item { margin-right: 34px; }

.footer__middle-item:last-child { margin-right: 0; }

.footer__middle-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #fff;
}

.footer__middle-link:hover { color: rgba(255, 255, 255, 0.6); }

.footer__middle-link:active,
.footer__middle-link:focus { color: rgba(255, 255, 255, 0.3); }

.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__bottom-row::before {
  content: "";
  position: absolute;
  bottom: 23px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 509px;
}

.social-list__item {
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item:last-child { margin-right: 0; }

.social-list__svg path { fill: rgba(255, 255, 255, 0.3); }

.social-list__svg:hover path { fill: rgba(255, 255, 255, 0.6); }

.social-list__svg:focus path,
.social-list__svg:active path { fill: rgba(255, 255, 255, 0.1); }

.footer__bottom-picture:hover { opacity: 0.6; }

.footer__bottom-picture:active,
.footer__bottom-picture:focus { opacity: 0.3; }

.footer__bottom-logo { margin-left: auto; }

.modal {
  z-index: 101;
  position: fixed;
  top: 180px;
  left: 50%;
  margin-left: -480px;
  display: none;
}

.modal__wrapper { position: relative; }

.modal-feedback {
  width: 960px;
  background-color: #fff;
  padding: 105px 100px 82px 100px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.modal-feedback_show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-feedback_error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-feedback__form { position: relative; }

.modal-feedback__row {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.modal-feedback__col { width: 360px; }

.modal-feedback__text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  display: block;
  margin-bottom: 7px;
}

.modal-feedback__input::-webkit-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-feedback__input::-moz-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-feedback__input:-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-feedback__input::-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-feedback__input::placeholder,
.modal-feedback__area {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-feedback__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 360px;
  padding: 13px 20px 13px 20px;
  background-color: #f2f2f2;
  color: rgba(70, 70, 70, 0.4);
  border: 3px solid transparent;
  outline: none;
}

.modal-feedback__input:hover { background-color: #eaeaea; }

.modal-feedback__input:focus {
  background-color: #fff;
  color: #464646;
  border: 3px solid #f0c52e;
}

.modal-feedback__input:required:invalid { background-color: #f6dada; }

.modal-feedback__area {
  background-color: #f2f2f2;
  border: 3px solid transparent;
  width: 760px;
  height: 156px;
  padding: 15px 20px 10px 20px;
  margin-bottom: 36px;
  resize: vertical;
  outline: none;
}

.modal-feedback__area:hover { background-color: #eaeaea; }

.modal-feedback__area:focus {
  background-color: #fff;
  color: #464646;
  border: 3px solid #f0c52e;
}

.modal-feedback__area:required:invalid { background-color: #f6dada; }

.modal-feedback__button { margin-left: 35px; }

.modal-feedback__button:active,
.modal-feedback__button:focus { color: rgba(0, 0, 0, 0.3); }

.modal-feedback__button::after {
  width: 200px;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-feedback__button:hover::after {
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.modal-feedback__button:active::after,
.modal-feedback__button:focus::after { padding: 20px 0; }

.modal__close {
  font-size: 0;
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-image: url("../img/icons/modal-close.svg");
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 34px;
  right: 22px;
  opacity: 0.5;
}

.modal-feedback__close {
  top: -71px;
  right: -78px;
}

.modal__close:hover { opacity: 1; }

.modal__close:active,
.modal__close:focus { opacity: 0.3; }

.modal-map__close {
  top: 22px;
  z-index: 3;
}

.modal-map {
  width: 960px;
  height: 559px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.modal-map_show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-map__link { display: block; }

.modal-map__image { background-color: #e9e9e9; }

.inner-main { padding-top: 38px; }

.inner-main__wrapper { margin-bottom: 45px; }

iframe {
  position: absolute;
  z-index: 2;
}

.inner__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  margin: 0;
  margin-bottom: 18px;
}

.breadscrumbs__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadscrumbs__item_main { margin-right: 19px; }

.breadscrumbs__item_catalog { margin-right: 17px; }

.breadscrumbs__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadscrumbs__link:hover { color: rgba(0, 0, 0, 0.6); }

.breadscrumbs__link:focus,
.breadscrumbs__link:active { color: rgba(0, 0, 0, 0.1); }

.breadscrumbs__link_main {
  padding-right: 18px;
  position: relative;
}

.breadscrumbs__link_main::after {
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../img/icons/nav-arrow.svg");
  position: absolute;
  top: 61%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.breadscrumbs__link_catalog {
  padding-right: 21px;
  position: relative;
}

.breadscrumbs__link_catalog::after {
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../img/icons/nav-arrow.svg");
  position: absolute;
  top: 61%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.index-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.filter {
  background-color: #ebebeb;
  width: 328px;
  position: relative;
}

.filter::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  background-color: #ebebeb;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.filter__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  background-color: #dcdcdc;
  padding: 23px 0;
  padding-left: 62px;
  margin-bottom: 69px;
  position: relative;
}

.filter__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  background-color: #dcdcdc;
  width: 100vw;
  height: 70px;
  z-index: -1;
}

.filter__form {
  width: 330px;
  padding-left: 60px;
}

.filter__form-item {
  border: none;
  padding: 0;
  margin-bottom: 37px;
  width: 267px;
}

.filter__form-item:last-child { margin-right: 0; }

.filter__form-item_color { margin-bottom: 31px; }

.filter__form-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  border-top: 2px solid #000;
  padding-top: 10px;
  margin-bottom: 35px;
  width: 200px;
}

.filter__form-title_color { margin-bottom: 18px; }

.filter__form-title_variant { margin-bottom: 17px; }

.filter__form-range-controls {
  background-color: transparent;
  position: relative;
  width: 200px;
  margin-bottom: 13px;
}

.range__scale {
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
  position: relative;
}

.range__scale-bar {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
  position: absolute;
  top: 0;
  left: 0;
}

.range__toggle {
  width: 22px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/icons/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  position: absolute;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.range__toggle:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  top: -10px;
}

.range__toggle_min { left: -8px; }

.range__toggle_max { right: 73px; }

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-controls__col {
  width: 79px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-controls__col:last-child { margin-right: 0; }

.price-controls__range-input {
  width: 100%;
  border: none;
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls__range-input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.2); }

.price-controls__range-input::-moz-placeholder { color: rgba(0, 0, 0, 0.2); }

.price-controls__range-input:-ms-input-placeholder { color: rgba(0, 0, 0, 0.2); }

.price-controls__range-input::-ms-input-placeholder { color: rgba(0, 0, 0, 0.2); }

.price-controls__range-input::placeholder { color: rgba(0, 0, 0, 0.2); }

.filter__form-list { list-style: none; }

.filter__form-option { margin-bottom: 0; }

.filter__form-option:last-child { margin-bottom: 0; }

.filter__form-input:focus + label { outline: 1px solid red; }

.filter__form-label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  padding-left: 36px;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.filter__form-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.filter__form-label_checkbox::before {
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
}

.filter__form-label_radio::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off.svg");
}

.filter__form-label_checkbox:hover::before,
.filter__form-label_radio:hover::before { opacity: 0.6; }

.filter__form-checkbox:checked + .filter__form-label_checkbox:hover::after,
.filter__form-checkbox:checked + .filter__form-label_checkbox:hover::before,
.filter__form-radio:checked + .filter__form-label_radio:hover::after,
.filter__form-radio:checked + .filter__form-label_radio:hover::before { opacity: 0.6; }

.filter__form-checkbox:checked ~ .filter__form-label_checkbox:focus,
.filter__form-radio:checked ~ .filter__form-label_radio:focus { opacity: 1; }

.filter__form-checkbox:checked + .filter__form-label_checkbox:after {
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.filter__form-radio:checked + .filter__form-label_radio:after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.filter__form-input:disabled + .filter__form-label_checkbox,
.filter__form-input:disabled + .filter__form-label_radio { color: #a6a6a6; }

.filter__form-input:disabled + .filter__form-label_checkbox::before,
.filter__form-input:disabled + .filter__form-label_checkbox::after,
.filter__form-input:disabled + .filter__form-label_radio::before,
.filter__form-input:disabled + .filter__form-label_radio::after { opacity: 0.25; }

.filter__form-button {
  line-height: 0;
  margin-top: 53px;
  margin-left: 40px;
}

.filter__form-button:active,
.filter__form-button:focus { color: rgba(0, 0, 0, 0.3); }

.filter__form-button:hover::after {
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.filter__form-button:active::after,
.filter__form-button:focus::after { padding: 20px 0; }

.filter__form-button::after {
  top: 50%;
  left: -42px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 200px;
}

.product-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 830px;
  padding-bottom: 77px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: #ebebeb;
  padding-left: 75px;
  position: relative;
}

.sorting::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ebebeb;
  width: 100vw;
  height: 70px;
  z-index: -1;
}

.sorting__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-right: 52px;
}

.sorting__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting__list_arrows {margin-left: auto; }

.sorting__item {margin-right: 26px; }

.sorting__item:last-child {margin-right: 0; }

.sorting__item_up {margin-right: 18px; }

.sorting__link {
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__svg {fill: rgba(0, 0, 0, 0.3); }

.sorting__link {
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:hover { color: rgba(0, 0, 0, 0.6); }

.sorting__link:active,
.sorting__link:focus { color: rgba(0, 0, 0, 1); }

.sorting__link_active { color: #000; }

.sorting__svg path { fill: rgba(0, 0, 0, 0.2); }

.sorting__svg:hover path { fill: rgba(0, 0, 0, 0.4); }

.sorting__svg:active path,
.sorting__svg:focus path { fill: rgba(0, 0, 0, 1); }

.sorting__item_active .sorting__svg path { fill: #000; }

.catalog {
  width: 830px;
  padding-left: 70px;
}

.catalog__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 36px;
}

.catalog__item {
  width: 360px;
  margin-right: 40px;
  margin-top: 49px;
  position: relative;
}

.catalog__item_new::after {
  content: "new";
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  position: absolute;
  top: 28px;
  right: 27px;
  width: 61px;
  height: 61px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__item:nth-child(2n) { margin-right: 0; }

.catalog__image-wrapper { margin-bottom: 30px; }

.catalog__image {
  display: block;
  width: 360px;
  min-height: 380px;
}

.catalog__image:hover { opacity: 0.7; }

.catalog__link {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.catalog__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000;
  width: 274px;
}

.catalog__title_professional { width: 175px; }

.catalog__price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}

.catalog__action {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.catalog__item:hover .catalog__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__button { margin-bottom: 14px; }

.catalog__button:active,
.catalog__button:focus { color: rgba(0, 0, 0, 0.3); }

.catalog__button:after {
  top: 50%;
  left: -17px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 200px;
}

.catalog__button:hover::after {
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.catalog__button:active::after,
.catalog__button:focus::after { padding: 20px 0; }

.catalog__button-compare {
  background-color: transparent;
  border: none;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 11px;
  cursor: pointer;
}

.catalog__button-compare:hover { color: #000; }

.catalog__button-compare:active,
.catalog__button-compare:focus { color: rgba(0, 0, 0, 0.2); }

.pagination {
  background-color: #ebebeb;
  width: 760px;
  margin-left: 72px;
}

.pagination__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__item_prev { margin-right: 203px; }

.pagination__item_next { margin-left: auto; }

.pagination__item_number { margin-right: 28px; }

.pagination__item_number:nth-child(4) { margin-right: 0; }

.pagination__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.pagination__link_number { color: rgba(0, 0, 0, 0.3); }

.pagination__link_number:hover { color: rgba(0, 0, 0, 0.6); }

.pagination__link_number:active,
.pagination__link_number:focus { color: rgb(0, 0, 0); }

.pagination__link_current { color: #000; }

.pagination__link_prev,
.pagination__link_next {
  color: #000;
  display: block;
  width: 136px;
  padding: 23px 10px 23px 10px;
  text-align: center;
}

.pagination__link_prev:hover,
.pagination__link_next:hover { background-color: #d9d9d9; }

.pagination__link_prev:active,
.pagination__link_prev:focus,
.pagination__link_next:active,
.pagination__link_next:focus { color: rgba(0, 0, 0, 0.3); }
