/* Open Sans Light */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
       url("../fonts/web/opensanslight.woff2") format("woff2"),
       url("../fonts/web/opensanslight.woff") format("woff");
}

/* Open Sans Regular */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
       url("../fonts/web/opensans.woff2") format("woff2"),
       url("../fonts/web/opensans.woff") format("woff");
}

/* Gilroy light */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
       url("../fonts/web/gilroylight.woff2") format("woff2"),
       url("../fonts/web/gilroylight.woff") format("woff");
}

/* Gilroy ExtraBold */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
       url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/web/gilroyextrabold.woff") format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;

  padding: 0;
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000;

  /* Временно, для визуального удобства */
  margin: 50px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Стили для кнопок */
.button {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/* БАЗОВАЯ СТИЛИЗАЦИЯ */

/* Шапка */
.header {
  background-color: rgba(240, 197, 46, 0.5)
}

/* Состояния для Логотипа в шапке */
.header__logo-picture:hover path {
  opacity: 0.6;
}

.header__logo-picture:active path,
.header__logo-picture:focus path {
  opacity: 0.3;
}

/* Стилизация placeholder для поля поиска */
.header__form-search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* поле поиска */
.header__form-search {
  font-size: 15px;
  line-height: 30px;

  background-color: transparent;
  border: none;
}

.header__form-search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* не знаю, нужно или нет

.header__form-search:hover {
  color: rgba(0, 0, 0, 0.6);
}
*/

.header__form-search:focus::placeholder {
  color: rgb(0, 0, 0);
}

.header__form-search:focus ~ .header__form-button {
  border: 2px solid #000;
}

.header__form-button {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  letter-spacing: 0.15px;

  background-color: transparent;
  border: none;
}

.header__form-button:hover {
  color: #fff;
  background-color: #000;
}

.header__form-button:focus,
.header__form-button:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
}

/* Стилизация списков управления */
.header__list {
  list-style: none;
}

/* Стилизация ссылок управления */
.header__link {
  color: #000;
  letter-spacing: 0.15px;
}

.header__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header__link:focus,
.header__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__list-link_logout {
  color: rgba(0, 0, 0, 0.3);
}

/* Навигация */
.navigation {

}

.navigation__list {

}

/* Навигация (списки меню и подменю) */
.navigation__list,
.navigation__list-column {
  list-style: none;
}

/* Ссылки меню */
.navigation__link {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation__link:active,
.navigation__link:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* Ссылки подменю */
.navigation__list-link {
  color: inherit;
  letter-spacing: 0.15px;
  line-height: 36px;
}

.navigation__list-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation__list-link:active,
.navigation__list-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* Главная страница */

/* Слайдер */
.slider {
  background-color: transparent;
}

.slider__controls {
  list-style: none;
}

/* Список слайдов */
.slider__list {
  list-style: none;
}

/* Заголовок слайдов */
.slider__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.47px;
}

.slider__text {
  color: #464646;
  letter-spacing: 0.15px;
}

/* Таблица статистики */
.table__heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.table__info {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

/* Категории товаров */
/* Список категорий */
.categories__list {
  list-style: none;
}

.categories__image-wrapper {
  background-color: rgba(240, 197, 46, 0.5);
}

.categories__item:hover .categories__image-wrapper {
  background-color: rgba(240, 197, 46, 1);
}

.categories__item:focus .categories__image,
.categories__item:active .categories__image {
  opacity: 0.3;
}

.categories__item:focus .categories__title,
.categories__item:active .categories__title {
  color: rgba(0, 0, 0, 0.3);
}

/* Заголовок категорий */
.categories__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000;
}

/* Услуги */
.services {
  background-color: #e5e5e5;
}

.services__list,
.services__slider-list {
  list-style: none;
}

.services__button {
  /* тут будут какие - то стили */
}

.services__button:hover {
  color: #f0c52e;
  background-color: #000;
}

.services__slider-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.services__slider-text {
  color: #464646;
  letter-spacing: 0.15px;
}

/*Тут будут стили для Брэндов */

.brands__list {
  list-style: none;
}

.brands__item:hover .brands__images {

  /* Не знаю, праавильно ли сделал, но все так, как на макете */
  opacity: 0.2;
  filter: grayscale(100%);
}



/* Информация */
.information__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
}

/* Текст раздела с информацией */
.information__text {
  color: #464646;
}

/* Список партнеров */
.information__partnership-list {
  list-style: none;
}

.partnership__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.information__contacts-image {
  background-color: #e9e9e9;
}

/* footer */
.footer {
  background-color: #464646;
}

/* Логотип */
.footer__top-picture {
  fill: #ffc600;
}

/* Состояния для Логотипа в подвале */
.footer__top-picture path {
  fill: #ffc600;
}

.footer__top-picture:hover path {
  opacity: 0.6;
}

.footer__top-picture:active path,
.footer__top-picture:focus path {
  opacity: 0.3;
}

/* Список управляющих элементов */
.footer__list {
  list-style: none;
}

/* Ссылки управляющих элементов */
.footer__link {
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
  letter-spacing: 0.15px;
}

.footer__link:hover {
  color: #fff;
}

.footer__link:active,
.footer__link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer__list-link_logout {
  color: rgba(255, 255, 255, 0.3);
}

.footer__text {
  color: #fff;
}

/* Навигационный список */
.footer__middle-list {
  list-style: none;
}

.footer__middle-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #fff;
}

.footer__middle-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer__middle-link:active,
.footer__middle-link:focus {
  color: rgba(255, 255, 255, 0.3);
}

/* Список соц. сетей */
.social-list {
  list-style: none;
}

/* Состояния для  соц. сетей */
.social-list__svg path {
  fill: rgba(255, 255, 255, 0.3);
}

.social-list__svg:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.social-list__svg:active path,
.social-list__svg:focus path {
  fill: rgba(255, 255, 255, 0.1);
}

.footer__bottom-picture:hover {
  opacity: 0.6;
}

.footer__bottom-picture:active,
.footer__bottom-picture:focus {
  opacity: 0.3;
}

.modal {
  display: none;
}

/* Модальное окно с обратным отзывом */
.modal-feedback {
  background-color: #fff;
}

.modal-feedback__text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.modal-feedback__input::placeholder,
.modal-feedback__area {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-feedback__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  background-color: #f2f2f2;
  color: rgba(70, 70, 70, 0.4);
}

.modal-feedback__area {
  background-color: #f2f2f2;
}

/* Модально окно с картой */
.modal-map__image {
  background-color: #e9e9e9;
}

/* Заголовок внутренней страницы главного контента */
.inner__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
}

/* Хлебные крошки */
.breadscrumbs__list {
  list-style: none;
}

.breadscrumbs__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadscrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadscrumbs__link:focus,
.breadscrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

/* Фильтр */

.filter {
  background-color: #ebebeb;
}

.filter__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color; #d9d9d9;
}

.filter__form-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter__form-list {
  list-style: none;
}

.filter__form-label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.filter__form-button {
  line-height: 0;
}


/* Сортировка */
.sorting {
  background-color: #ebebeb;
}

.sorting__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.sorting__list {
  list-style: none;
}

.sorting__link {
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__svg {
  fill: rgba(0, 0, 0, 0.3);
}

.sorting__link {
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__link:active,
.sorting__link:focus {
  color: rgba(0, 0, 0, 1);
}
/* текущие состояния ссылок и svg */
.sorting__link_active {
  color: #000;
}

.sorting__svg path {
  fill: rgba(0, 0, 0, 0.2);
}

.sorting__svg:hover path {
  fill: rgba(0, 0, 0, 0.4);
}

.sorting__svg:active path,
.sorting__svg:focus path {
  fill: rgba(0, 0, 0, 1);
}


.sorting__item_active .sorting__svg path {
  fill: #000;
}

/* Каталог */
.catalog__list {
  list-style: none;
}

.catalog__image {
  display: block;

  width: 360px;
  height: 380px;
}

.catalog__image:hover {
  opacity: 0.7;
}

.catalog__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000;
}

.catalog__price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}

.catalog__button-compare {
  background-color: transparent;
  border: none;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog__button-compare:hover {
  color: #000;
}

.catalog__button-compare:active,
.catalog__button-compare:focus {
  color: rgba(0, 0, 0, 0.2);
}

/* Пагинация */
.pagination {
  background-color: #ebebeb;
}

.pagination__list {
  list-style: none;
}

.pagination__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link_current {
  color: #000;
}

.pagination__link_prev,
.pagination__link_next {
  color: #000;
}







